###

APP_NAME="<TEMPLATE-APP-NAME>"
APP_URL=https://<TEMPLATE-DOMAIN>

# debug, error, warning
LOG_LEVEL=<TEMPLATE-LOG-LEVEL>

#::::::::::::::::::::::::::::::::::::::::::::
#::::::::::::::::::::::::::::::::::::::::::::

DB_HOST=<TEMPLATE-DB-CONTAINER-NAME>
MYSQL_DATABASE=<TEMPLATE-DB-NAME>
MYSQL_ROOT_PASSWORD=<TEMPLATE-ROOT-PASSWORD>
MYSQL_USER=<TEMPLATE-MYSQL-PASSWORD>
MYSQL_PASSWORD=<TEMPLATE-ROOT-MYSQL-PASSWORD>

#::::::::::::::::::::::::::::::::::::::::::::
#::::::::::::::::::::::::::::::::::::::::::::

MEMCACHED_HOST=127.0.0.1

#::::::::::::::::::::::::::::::::::::::::::::
#::::::::::::::::::::::::::::::::::::::::::::

HORIZON_DOMAIN=<TEMPLATE-DOMAIN>
HORIZON_ACCESS_USER=<TEMPLATE-INTERNAL-APPUSER>

#::::::::::::::::::::::::::::::::::::::::::::
#::::::::::::::::::::::::::::::::::::::::::::

REDIS_HOST=<TEMPLATE-REDIS-CONTAINER-NAME>
REDIS_PASSWORD=<TEMPLATE-REDIS-PASSWORD>

#::::::::::::::::::::::::::::::::::::::::::::
#::::::::::::::::::::::::::::::::::::::::::::


MAIL_HOST=127.0.0.1

DB_PULSE_HOST=<TEMPLATE-DB-CONTAINER-NAME>

TRUSTED_PROXIES=*
